$primary: rgba(96, 125, 139);
$alternative: #29434e;

:host {
    width: 68%;
    margin-top: -30px;
}

.support-card {
    margin: 12px;
    padding: 22px 12px 12px 12px;
    background: lighten($primary, 52%);  
}

#chatbox { 
    margin: 0 auto;
}

.chatarea{
    height: 300px;
    overflow-x: hidden;
    position: relative;
}


.chatfooter{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    align-content: stretch;
}

#chatbox .chatinput {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    width: 80%;
    mat-form-field {
        display: block;
        height: 38px;
        padding: 5px;
        margin-right: 10px;
    }
}
#chatbox button { 
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: flex-end;
    order: 0;
    width: 20%;
}

#messages { 
    list-style-type: none;
    margin: 0 0 0 30px;
    padding: 0;
    display: block;
}

:host ::ng-deep a {
	color: #fff;
}

:host ::ng-deep .balloon {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: stretch;
    position: relative;
}

:host ::ng-deep .balloon div {
    padding: 8px;
    border-radius: 5px;
    position: relative;
    max-width: 200px;
}

:host ::ng-deep .agent div:before { 
    content: ''; position: absolute;
    width: 0; height: 0; left: -8px; top: 8px;
    border-top: 4px solid transparent;
    border-right: 8px solid $primary;
    border-bottom: 4px solid transparent;
}

:host ::ng-deep .agent:before { 
    content: "B";
    position: absolute;
    padding: 3px 8px;
    left: -28px;
    top: 8px;
    background: #43a047;
    border-radius: 35px;
    color: white;
}

:host ::ng-deep .agent div { 
	background: $primary;   
    color: #fff;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: flex-start;
    order: 0;
}

:host ::ng-deep .user div:after { 
    content: ''; position: absolute;
    width: 0; height: 0; right: -8px; bottom: 8px;
    border-top: 4px solid transparent;
    border-left: 8px solid $alternative;
    border-bottom: 4px solid transparent;
}

:host ::ng-deep .user div { 
	background: $alternative;    
    color: #fff;

    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: flex-end;
    order: 0;
}

:host ::ng-deep .spinner { 
	background: url('../../assets/bullet3.gif') no-repeat;
    background-size: 30px;
    background-position: 0 20px;
    height: 30px;
    display: block;
}

#messages li { padding: 5px 10px; }

.ng-valid[required], .ng-valid.required  {
    border-bottom: 1px solid #0F9D58; /* green */
}

.ng-invalid:not(form)  {
    border-bottom: 1px solid #DB4437; /* red */
}

.systemerrors {
    color: #a94442;
}