:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .okgoogle {
    background: url('../assets/googlenestmini.png') 0 50% no-repeat;
    padding: 60px 100px;
    color: #fff;
    font-size: 20px;
    line-height: 28px;

    .invoke {
      display: block;
      font-style: italic;
    }
  }

  .phone {
    position: relative;
    right: 120px;
  }

  .retail {
    .img {
      background-image: url('../assets/banner-retail.png');
    }
  
    .logo{
      background-image: url('../assets/logo-retail.png');
    }
  }
  
  .insurances {
    .img {
      background-image: url('../assets/banner-insurances.png');
    }
    .logo {
      background-image: url('../assets/logo-insurances.png');
    }
  }
  
  .fsi {
    .img {
      background-image: url('../assets/banner-fsi.png');
    }
    .logo {
      background-image: url('../assets/logo-fsi.png');
    }
  }
  
  .health {
    .img {
      background-image: url('../assets/banner-health.png');
    }
    .logo {
      background-image: url('../assets/logo-health.png');
    }

  }

.logo {
  cursor: pointer;
}

#chatbox { 
  margin: 0 auto;
}

.chatarea{
  height: 300px;
  overflow-x: hidden;
  position: relative;
}

.chatfooter{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  align-content: stretch;
}

#chatbox .chatinput {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  width: 80%;
  mat-form-field {
      display: block;
      height: 38px;
      padding: 5px;
      margin-right: 10px;
  }
}
#chatbox button { 
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: flex-end;
  order: 0;
  width: 20%;
}

.ng-valid[required], .ng-valid.required  {
  border-bottom: 1px solid #0F9D58; /* green */
}

.ng-invalid:not(form)  {
  border-bottom: 1px solid #DB4437; /* red */
}

.systemerrors {
  color: #a94442;
}