:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .okgoogle {
    background: url('../assets/googlenestmini.png') 0 50% no-repeat;
    padding: 60px 100px;
    color: #fff;
    font-size: 20px;
    line-height: 28px;

    .invoke {
      display: block;
      font-style: italic;
    }
  }

  .phone {
    margin: 10px;
    padding: 5px;
    display: block;
  }

  .retail {
    .img {
      background-image: url('../assets/banner-retail.png');
    }
  
    .logo{
      background-image: url('../assets/logo-retail.png');
    }
  }
  
  .insurances {
    .img {
      background-image: url('../assets/banner-insurances.png');
    }
    .logo {
      background-image: url('../assets/logo-insurances.png');
    }
  }
  
  .fsi {
    .img {
      background-image: url('../assets/banner-fsi.png');
    }
    .logo {
      background-image: url('../assets/logo-fsi.png');
    }
  }
  
  .health {
    .img {
      background-image: url('../assets/banner-health.png');
    }
    .logo {
      background-image: url('../assets/logo-health.png');
    }

  }

.logo {
  cursor: pointer;
}

button.green {
    background: #43a047;
    color: #fff;
}

.circle {
  background-color: #43a047;
  border-radius: 50%;
  height: 35px;
  text-align: center;
  width: 35px;
  margin: 10px;
  cursor: pointer;
}

.initials {
  color: #fff;
  font-size: calc(35px / 2); /* 50% of parent */
  line-height: 1;
  position: relative;
  top: calc(35px / 4); /* 25% of parent */
}
